nav {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}

nav a {
    color: #a9a9a9;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

nav a:hover {
    color: #dfdfdf;
}

.active {
    color: white;
}

.active:hover {
    color: white;
}

/* Tablet design */
@media (min-width: 700px) {
    nav a {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    nav a {
        font-size: 0.9rem;
    }
}

@media (min-width: 700px) and (max-height: 800px) {
    nav a {
        font-size: 0.7rem;
    }
}
