footer {
    display: flex;
    align-self: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

footer img {
    width: 2rem;
    height: 2rem;
}

footer img:hover {
    opacity: 0.6;
    cursor: pointer;
}
