/* Fonts */
@font-face {
    font-family: "Repo";
    src: local("Repo"),
        url("./fonts/Repo/Repo.otf") format("opentype");
}

/* Body */
body {
    margin: 0;
}

#root {
    font-family: "Repo", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

#root::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: url("/background-img.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: brightness(50%);
    opacity: .95;
}