/* Input and Button Styles */
input,
button {
    font-family: "Roboto", sans-serif;
}

/* Video Background Styles */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    object-fit: cover;
    z-index: -1;
    filter: opacity(95%) brightness(40%);
}

/* Body Styles */
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
    color: white;
}

/* Root Container Styles */
#root {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    min-height: 100%;
    position: relative;
}
